@import "tailwindcss";

body{
  overflow-x: hidden;
}


@font-face {
  font-family: 'Lora';
  src: url('../src/assets/font/Lora-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('../src/assets/font/Lora-Bold.ttf');
  font-weight: 600;
  font-style: normal;
}

.overall-container{
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.progress{
  background-color: #505050;
  width: 100vw;
  height: 8vh;
  position: relative;
   overflow: hidden;
}
.progress div{
  height: 100%;
  background-color: #c2185b;
  position: absolute;
  transition: width 0.8s cubic-bezier(0.65, 0, 0.35, 1);
  top: 0;
}
.progress.hide {
  opacity: 0;
  transform: translateY(-50px); 
  transition: all 0.8s ease-in-out;
}
.nuggets{
  font-size: 1rem;
  color: #d3d3d3;
  font-weight: 600;
  padding-left: 1.5rem;
  opacity: 0;
  transform: translateY(40%);
  position: absolute;
  width: 100%;
  height: 3rem;
}
@media (min-width: 768px){
 .nuggets{
  font-size: 1.3rem;
  height: 1.3rem;
} 
}
.lovetext {
  overflow: hidden;
  line-height: 2rem;
  opacity: 0;
}
@media (min-width: 768px) {
  .lovetext{
    line-height: 2.5rem;
    font-size: 1.2rem;
  }
}
.lovetext-line {
  display: block;
}
.lovehead{
  opacity: 0;
}
.btn{
  background-color: #c2185b;
  color: #ffffff;
  border: none;
  border-radius: 1.5rem;
  padding: 0.5rem 2rem;
  opacity: 0;
  font-size: 1.1rem;
}
.intro{
  position: absolute;
  opacity: 0;
  white-space: nowrap;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
}
@media (min-width: 768px){
  .intro{
    font-size: 1.4rem;
  }
}
.main-content{
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
}
.intro-content{
  position: relative;
  height: 2.5rem;       
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-height: 100vh;
}
.overall-container-two{
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.no-btn{
  background-color: #c2185b;
  color: #ffffff;
  border: none;
  border-radius: 1.5rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
 
}
.yes-btn{
  background-color: #ff0033;
   color: #ffffff;
  border: none;
  border-radius: 1.5rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
}
@media screen {
  .no-btn{
  background-color: #c2185b;
  color: #ffffff;
  border: none;
  border-radius: 1.5rem;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
 
}
.yes-btn{
  background-color: #ff0033;
   color: #ffffff;
  border: none;
  border-radius: 1.2rem;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
}
}
.sucess-container {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  pointer-events: none;
}